@model IEnumerable<BusinessLogicLayer.DTO.WebsiteDTO>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Websites availability checker</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.DisplayFor(modelItem => item.Name) | @Html.DisplayFor(modelItem => item.Status)</li>
        }
    </ul>
</div>
