@model IEnumerable<BusinessLogicLayer.DTO.WebsiteDTO>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Websites availability checker</h1>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <ul class="text-left" id="updatesList"></ul>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/update.js"></script>
