@model IEnumerable<BusinessLogicLayer.DTO.WebsiteDTO>

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Websites availability checker</h1>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <ul class="list-group" id="updatesList">
                </ul>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div class="toast" id="myToast" style="position: absolute; top: 0; right: 0;">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i> Updater </strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
            Information has been updated
        </div>
    </div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/update.js"></script>
